


/*--------------------------------------------------Css for navbar-----------------------------------------*/

@import "compass/css3";
html,body
{
	font-family: 'Pontano Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
}
.nav1
{
	background-color: white;
	height: 90px;
	position: fixed;
	top:0px;
	z-index:4;
	width:100%;
	transition:0.5s linear all;
}

.sideNav ul
{
	padding-top:80px;
	padding-left:30px;
	padding-bottom: 30px;
}
.sideNav ul li a
{
	font-size: 1.2rem;
	color: #f26234;
	padding-top: 20px;
}

.sideNav ul li:hover
{
	color:#f26234;
}
nav ul a
{
	color: #f26234;
}
nav ul a:hover
{
	background-color: transparent;
	color:;
}
.signupButton
{
	background-color: #f26234;
}
.signupButton:hover
{
	background-color: white;
	border:1px solid #f26234;
	color:#f26234;
}
.signinButton
{
	background-color: transparent;
	border:1px solid #f26234;
	color:#f26234;
}
.signinButton:hover
{
	background-color: #f26234;
	color:white;
}

.big
{
	height:90px;
}
.small
{
	height: 60px;
}
.baseColor
{
	background-color:white;
	height: 60px;
	transition:0.5s linear all;

}
.whiteColor
{
	background-color: white;
	transition:0.5s linear all;
}
.heading,.heading_on_scroll
{
	color:#f26234;
}
.heading_after_land
{
	color:#f26234;
	margin-top: 0px;
}
.li_after_land
{
	color:#f26234;
	margin-right: 12px;

}

.company_logo
{	
	font-size: 35px;
	margin-left: 50px;
	margin-top:11px;
	font-weight: bolder;
	transition:0.5s linear all;
	color: #f26234;
}
.company_logo_on_scroll
{
	font-size: 28px;
	margin-top:0px;
	margin-left: 50px;
	color:#f26234;
	transition:0.5s linear all;
	font-weight: bolder;

}
.li
{
	color: #f26234;
	font-size: 18px;
	margin-top: 11px;
	margin-right: 20px;
	transition:0.5s linear all;
}
.li_on_scroll
{
	color: #f26234;
	font-size: 15px;
	margin-top: 0px;
	margin-right: 12px;
	transition:0.5s linear all;
}
/*--------------------------------------CSS for landing page--------------------------------------------------*/
.landingpage
{
	height: 100%;
	height: 654px;
	padding-bottom: 10vw;
	background:#f26234;
	background:linear-gradient(120deg,#f26234 60%,#f4754c 40%);
}

.container1
{
	width: 75%;
}
.container2
{
	width:80%;
}
.main_div
{
	padding-top: 15%;
}

.p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    
}
.main_heading
{
	color:white;font-size:3rem;font-weight: bold;
}
.main_subheading
{
	color:white;
	font-weight: bold;
	font-size: 1rem;
}
/**************************************Get started********************************************************/
.getStarted
{
	padding-bottom: 100px;
}
.getStartedContainer
{
	width: 75%;
}
.getStartedRow{
	padding-top: 100px;
}
.numBack
{
	background-color: #fbfbfb;
	color:#6d7a83;
	width:100px;
	height:100px;
	margin-left: 30%;
	border-radius: 100%;
	padding-bottom: 20px;
}
.stepStyle
{
	font-size: 1.8rem;
}
.numBack:hover
{
	background-color: ;
	color:#f26234;
	background-color: rgba(236, 237, 239, 0.9);
}
.step1Img
{
	width:100%;
	height: 100%;
	padding-bottom: 30px;
}
.step1Img img
{
	height:8vw;
}
.step1Desc
{
	padding-top: 30px;
	color:#6d7a83;
}
/************************************** how it works section**********************************************/
.header
{
	height:450px;
	width:100%;
	background-color: #fbfbfb;
	background-size:cover;
}
.headerText{
	padding-top:130px;
	text-align: center;
}
.headerText h2
{
	font-size: 50px;
	font-weight: bold;
	color:#f26234;
	
}
.option_row
{
	margin-top:100px;height:100px;
}
.optionClient,.option_dev,.option_faq
{
	border:2px solid #f26234;
	height:100px;
	background-color: white;

}
.optionClient p,.option_dev p,.option_faq p
{
	font-size: 2vw;
	
}
.headerText p
{
	font-size: 20px;
}
.whatWork
{
	margin-top: 130px;
	width:100%;
	height: 100%;
	padding-bottom:100px; 
}
.whatWorkheading,.howMuchheading,.howToheading,.howItWorkDevheading
{
	font-size:30px;
	font-weight: bold;
}
.howItWorks-container
{
	width: 80%;
}
.howItWorks_clients
{
	height:100%;
}
.howItWorks_developers
{
	height: 100%;

}
.whatWorkImg
{
	width:100%;
	height: 100%;
}
.whatWorkImg img
{
	height: 15vw;
}
.haveAProject
{
	height:200px;
	background-color: #fbfbfb;
}
.haveAprojectRow
{
	padding-top: 5vw;
}
.howToPost
{
	background-color: #fbfbfb;
	height: 100%;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 50px;
}
.howToImg
{
	width:100%;
	height: 100%;
}
.howToImg img
{
	height: 20vw;
}
.howTo
{
	padding-left: 150px;
}
.howTo ol li, .howItWorks_developers ol li
{
	font-size: 20px;
	font-weight: bold;
}
.howTo ol ul li
{
	font-weight: lighter;
	font-size: 16px;
}
.howMuch
{
	width: 100%;
	height:100%;
	padding-top: 100px;
	padding-bottom: 50px;
}
.howMuchImg,.devImg
{
	width: 100%
	height:100%;
}
.howMuchImg img,.devImg img
{
	height: 20vw;
}

.PostButton
{
	background-color: #f26234;
	width: 70%;
}
.howItWorks_developers
{
	padding-top: 100px;
	padding-bottom: 50px;
}
.descP
{
	color:#6d7a83;
}

.steps
{
	font-size: 2.5rem;
	font-family: 'Pontano Sans', sans-serif;
}

.divider1
{
	width: 60px;
	border:2px solid #f26234;
	margin-top: -40px;
}
.divider2
{
	width: 60px;
	border:2px solid #f26234;
	
}
/**************************************************CSS for our services************************************************/
.service-row
{
	padding-top: 3%;
}
.service-div
{
	text-align: center;
	
}
.service-div:hover
{
	border-radius: 7px;
	background-color: white;
    box-shadow: 0 6px 20px 0 #eeeeee, 0 1px 30px 0 #eeeeee, 0 3px 10px -1px #eeeeee;
	transition: 0.7s all;
	border-top:5px solid #f26234;
}
.our_services
{
	background-color: #fbfbfb;
	padding-top:10px;
	padding-bottom: 70px;
}
.serviceHead
{
	font-size:1.8rem;
}
.service_content
{
	padding-top: 70px;
	padding-bottom: 50px;

}
.service_text
{
	padding-top: 30px;
}
.service_text p
{
	color: #6d7a83;
}
 .our_clients
 {
 	background-color: white;
 	padding-top: 10px;
 	padding-bottom: 100px;
 }
.clientServiceImg,.developerService,.secureService
{
	width:100%;
	height:100%;
}
.clientServiceImg img,.developerService img,.secureService img
{
	height:8vw;
}
/*--------------------------------------CSS for footer--------------------------------------------------*/
footer
{
	height: 100%;
  	background:#fbfbfb;
  	overflow:hidden;
  	position:relative;
  	padding-bottom: 50px;
}
.footersec
{
	width: 0;
   	height:0;
   	border-top: 100px solid white;
   	border-right: 100vw solid transparent;
}
.container_footer
{
	padding:30px 50px 50px 50px;
	
}
.footer_left h5
{
	color: #f26234;
	font-size: 50px;
	font-weight: bold;
}

/*************************************CSS for Signup*********************************************************/

.form_base, .signup,.signin
{
	background-color: #fbfbfb;
	height: 100%;

}

.right_pane .heading
{
	font-size: 3vw;
	color: #f26234;
	font-weight: bold;

}
.right_pane .sub-heading
{
	font-size: 15px;
	margin-top: -50px;
}
.signup_form,.signin_form
{
	height: 100%;
	margin-top:30px;
	padding-bottom:25%;
}
.client-form,.dev-form
{
	margin-top: 30px;
}

.client
{
	background-color: #bdbdbd;
	color:#393d40;
}
.dev
{
	background-color: #bdbdbd;
}
.client-before-click
{
	background-color: white;
}
.dev-before-click
{
	background-color: white;
}
.company-logo
{
	padding-top: 20%;
}
.company-logo img
{
	height:20vw;
	width:20vw;
}
.dev_step_1,.dev_step_2
{
	font-size: 2vw;
	font-weight: bold;
}
.dev_step_2_info
{
	color:#6d7a83;
}
.abt_q_test
{
	height: 100px;
	background-color:#fbfbfb;
	transition: 0.3 all;
	margin-bottom: 40px;
	padding-left: 20px;
}
.errorMsg
{
	height: 100%;
	padding-bottom: 10px;
	padding-top:10px;
	margin-top: 10px;
	margin-bottom: 30px;
	background-color: #d32f2f ;
	color:white;
	border:2px solid #b71c1c;
	
}
.chip
{
	border-radius: 0px;
}
/*******************************Client Dashboard *****************************************************/
.dashboardLogo
{
	font-size: 1.5rem;
	text-align: center;
	color:#f26234;
	font-weight: bold;
}
.clientDashboard
{
	padding-left: 320px;
	padding-top: 20px;
	background-color: #fbfbfb;
}
.dash-sidenav
{
	background-color: #fbfbfb;
	padding-top: 10px;
	padding-left: 10px;
}
.dash-sidenav ul li a, .dash-sidenav ul li a i
{
	color:#f26234;
	font-size: 1rem;
}
.userInfo a 
{
	color:black;
	font-size: 1rem;
}
.card-title
{
	color:#6d7a83;
	font-weight: bold;
}
.jobPostForm
{
	padding-top: 50px;
	padding-right: 30px;
	padding-left: 30px;
}
.jobPostForm p
{
	color:#6d7a83;
	font-weight: bold;
}
.postJob
{
	padding-bottom: 20px;
}

.postjobButton button
{
	background-color: #f26234;
	color:white;
	margin-left: 30px;
	margin-top: 20px;
}

.chip
{
	margin-left: 25%;
}
.collapsible-header
{
	font-weight: bold;
}
.clientProfile
{
	padding-bottom: 20px;
}
.accountDetailForm,.companyDetailsForm
{
	
	padding-top: 0px;
	padding-right: 20px;
	padding-left: 20px;
}
.accountDetailForm p,.companyDetailsForm p
{
	color:#6d7a83;
	font-weight: bold;
	padding-top: 0px;
}
.relatedSkills
{
	height:100%;
}
.skillCard
{
	background-color: #f26234;
	
}
.skillName
{
	color:white;
	font-size: 1rem;
	text-align: center;
}
select:focus
{
	border:3px solid #f26234;
}
