/*--------------------------------------------------Css for navbar-----------------------------------------*/

@import "compass/css3";
html,body
{
	font-family: 'Pontano Sans', sans-serif;
}
.nav1
{
	background-color: white;
	height: 90px;
	position: fixed;
	top:0px;
	z-index:4;
	width:100%;
	transition:0.5s linear all;
}
.myNav
{
	padding-left: 20%;
}
.navButtons
{
	padding-left: 20%;
}
.signupButton
{
	background-color: #f26234;
}
.signupButton:hover
{
	background-color: white;
	border:1px solid #f26234;
	color:#f26234;
}
.signinButton
{
	background-color: white;
	border:1px solid #f26234;
	color:#f26234;
}
.signinButton:hover
{
	background-color: #f26234;
	color:white;
}

.big
{
	height:90px;
}
.small
{
	height: 60px;
}
.baseColor
{
	background-color:#fbfbfb;
	height: 60px;
	transition:0.5s linear all;

}
.whiteColor
{
	background-color: white;
	transition:0.5s linear all;
}
.heading,.heading_on_scroll
{
	color:#f26234;
}
.heading_after_land
{
	color:#f26234;
	margin-top: 0px;
}
.li_after_land
{
	color:#f26234;
	margin-right: 12px;

}

.company_logo
{	
	font-size: 35px;
	margin-left: 50px;
	margin-top:11px;
	font-weight: bolder;
	transition:0.5s linear all;
	color: #f26234;
}
.company_logo_on_scroll
{
	font-size: 28px;
	margin-top:0px;
	margin-left: 50px;
	color:#f26234;
	transition:0.5s linear all;
	font-weight: bolder;

}
.li
{
	color: #f26234;
	font-size: 18px;
	margin-top: 11px;
	margin-right: 20px;
	transition:0.5s linear all;
}
.li_on_scroll
{
	color: #f26234;
	font-size: 15px;
	margin-top: 0px;
	margin-right: 12px;
	transition:0.5s linear all;
}
/*--------------------------------------CSS for landing page--------------------------------------------------*/
.landingpage
{
	height: 100%;
	padding-bottom: 10vw;
	background:#f26234;
}

.container1
{
	width: 75%;
}

.maintext
{
	padding-top: 9vw;
	font-size: 3.5vw;
}

.maintext_sub
{
	font-size: 2vw;
	margin-top: -40px;
	color: #880e4f;
}

.card1
{
	background-color: transparent;
	border: none;
	box-shadow: none;
}

.logo
{
	margin-top: 3vw;
}

.clientimage
{
	width: 100%;
	height: 110px;
}

.clienttext
{
	font-size: 16px;

}

.laptopimage
{
	width: 100%;
	height: 150px;
}

.developerimage
{
	width: 80%;
	height: 130px;
}

/************************************** how it works section**********************************************/

.stepsdiv
{
	margin-top: 50px;
}

.steps
{
	font-size: 40px;
	
	font-family: 'Pontano Sans', sans-serif;
}

.divider1
{
	width: 60px;
	border:2px solid #f26234;
	margin-top: -40px;
}
.client
{
	margin-top: 10px;
	height:230px;
  	background:white;
  	position:relative;
}

.clientheading
{
	margin-top: 25px;
	font-size: 22px
}

.clientdescription
{
	color: #6d7a83;
	
}

.clientvideo
{
	padding-top: 30px;
}

.developer
{
	height: 100%;
  	background:#fbfbfb;
  	overflow:hidden;
  	position:relative;
  	padding-bottom: 50px;
}

.clientsec
{
	width: 0;
   	height:0;
   	border-top: 100px solid white;
   	border-left: 100vw solid transparent;
}

.developervideo
{
	margin-top: -20px;
}

.developerheading
{
	
	font-size: 22px;
	margin-top: -10px;
}

.developerdescription
{
	color: #6d7a83;
	
}
/**************************************************CSS for our services************************************************/
.service-row
{
	padding-top: 3%;
}
.service-div
{
	text-align: center;
	
}
.service-div:hover
{
	border-radius: 7px;
	background-color: white;
    box-shadow: 0 6px 20px 0 #eeeeee, 0 1px 30px 0 #eeeeee, 0 3px 10px -1px #eeeeee;
	transition: 0.7s all;
	border-top:5px solid #f26234;
}
.our_services
{
	background-color: #fbfbfb;
	padding-top:10px;
	padding-bottom: 50px;
}
.service_content
{
	padding-top: 70px;
	padding-bottom: 50px;

}
.service_text
{
	padding-top: 30px;
}
.service_text p
{
	color: #6d7a83;
}
 .our_clients
 {
 	background-color: white;
 	padding-top: 10px;
 	padding-bottom: 100px;
 }

/*--------------------------------------CSS for footer--------------------------------------------------*/
footer
{
	height: 100%;
  	background:#fbfbfb;
  	overflow:hidden;
  	position:relative;
  	padding-bottom: 50px;
}
.footersec
{
	width: 0;
   	height:0;
   	border-top: 100px solid white;
   	border-right: 100vw solid transparent;
}
.container_footer
{
	padding:30px 50px 50px 50px;
	
}
.footer_left h5
{
	color: #f26234;
	font-size: 50px;
	font-weight: bold;
}

/*************************************CSS for Signup*********************************************************/

.form_base, .signup
{
	background-color: #fbfbfb;
	height: 100%;

}

.right_pane .heading
{
	font-size: 3vw;
	color: #f26234;
	font-weight: bold;

}
.right_pane .sub-heading
{
	font-size: 15px;
	margin-top: -50px;
}
.signup_form
{
	height: 100%;
	margin-top:30px;
	padding-bottom:25%;
}
.client-form,.dev-form
{
	margin-top: 30px;
}

.client
{
	background-color: #bdbdbd;
	color:#393d40;
}
.dev
{
	background-color: #bdbdbd;
}
.client-before-click
{
	background-color: white;
}
.dev-before-click
{
	background-color: white;
}
.company-logo
{
	padding-top: 20%;
}
.company-logo img
{
	height:20vw;
	width:20vw;
}