<nav class="nav1">
  <div class="nav-wrapper">
      <a href="!#" class="brand-logo heading" style="color: #ff8f00;">CLIENTDEV</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down valign-wrapper links">
        <li><i class="material-icons left">home</i>Home</li>
        <li><i class="material-icons left">language</i>Our Services</li>
        <li><i class="material-icons left">person_outline</i>Our Clients</li>
        <li><i class="material-icons left">timeline</i>How it works</li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><i class="material-icons left">home</i>Home</li>
        <li><i class="material-icons left">language</i>Our Services</li>
        <li><i class="material-icons left">person_outline</i>Our Clients</li>
        <li><i class="material-icons left">timeline</i>How it works</li>
      </ul>
  </div>
</nav>

<!-- landing page section-->
<div class="landingpage">
  <p class="maintext center-align" style="color: white;">Welcome to CleintDev!!</p>
  <p class="maintext_sub center-align">Development Platform Development Platform</p>
  <div class="container container1">
    <div class="row logo">
      <div class="col offset-m1 m2 offset-s1 s11">
          <div class="card card1">
            <div class="card-image">
              <img src="./views/img/logo1.png" class="clientimage">
            </div>
            <div class="card-content">
              <p class="center-align clienttext" style="color: #880e4f;">CLIENT</p>
            </div>
          </div>
      </div>

      <div class="col offset-m2 m3 offset-s1 s11" >
          <div class="card card1">
            <div class="card-image">
              <img src="./views/img/logo2.png" class="laptopimage">
            </div>
          </div>
      </div>

      <div class="col offset-m2 m2 offset-s1 s11">
          <div class="card card1">
            <div class="card-image">
              <img src="./views/img/logo6.png" class="developerimage">
            </div>
            <div class="card-content">
              <p class="center-align clienttext" style="color: #880e4f;">DEVELOPER</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- how it works section-->
<div class="stepsdiv center-align">
  <p class="steps center-align">HOW IT WORKS?</p>
  <hr class="divider1">
</div>

<div class="client">
  <div class="container container1">
    <div class="row">
      <div class="col m7 offset-s1 s11">
        <p class="clientheading">CLIENTS</p>
        <p class="clientdescription">Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.</p>
      </div>

      <div class="col offset-m1 offset-s1">
        <iframe class="clientvideo" width="260" height="220" src="//www.youtube.com/embed/58-atNakMWw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="developer">
    <div class="clientsec"></div>
    <div class="container container1">
      <div class="row">
        <div class="col m4 offset-s1 s10">
          <iframe class="developervideo" width="260" height="220" src="//www.youtube.com/embed/58-atNakMWw" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="col offset-m1 m6 offset-s1 s11">
          <p class="developerheading">DEVELOPERS</p>
          <p class="developerdescription">Developers are genius. Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.</p>
        </div>
      </div>
    </div>
</div>

<!--Our Clients -->
<div class="page-section" id="departments">
    <div class="container">
        <!-- Carnage Description-->
        
        <h1 class="section-title">

                <span data-animation="flipInY" data-animation-delay="300" class="icon-inner"><span class="fa-stack"><i class="fa rhex fa-stack-2x"></i><i class="fa fa-star fa-stack-1x"></i></span></span>
                <span data-animation="fadeInRight" data-animation-delay="500" class="title-inner">OUR CLIENTS</span>
            </h1>
        <ul class="hexGrid">
            <li class="hex">
                <a class="hexIn" href="#" data-toggle="modal" data-target="#r">
                    <img src="#" alt="" \>
                    <h1>LOrep ipsum</h1>
                    <p>LOrep ipsum</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#" data-toggle="modal" data-target="#">
                    <img src="#" alt="" \>
                    <h1>LOrep ipsum</h1>
                    <p>LOrep ipsum</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#" data-toggle="modal" data-target="#">
                    <img src="#" alt="" \>
                    <h1>LOrep ipsum</h1>
                    <p>LOrep ipsum</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#" data-toggle="modal" data-target="#">
                    <img src="#" alt="" \>
                    <h1>LOrep ipsum</h1>
                    <p>LOrep ipsum</p>
                </a>
            </li>
        </ul>
    </div>
</div>

<!--Our Services Section-->
<div class="stepsdiv center-align">
  <p class="steps center-align">OUR SERVICES</p>
  <hr class="divider1">
</div>