<nav class="nav1" ng-class="navClass">
  <div class="nav-wrapper">
      <a href="!#" class="brand-logo "  style="color: #ff8f00; margin-top: 10px;" ><span class="heading" ng-class="headClass">CLIENTDEV</span></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down valign-wrapper links">
        <li ng-class="linkClass" class="li"><i class="material-icons left" >home</i>Home</li>
        <li ng-class="linkClass" class="li"><i class="material-icons left">language</i>Our Services</li>
        <li ng-class="linkClass" class="li"><i class="material-icons left">person_outline</i>Our Clients</li>
        <li ui-sref="signup" ng-class="linkClass" class="li"><i class="material-icons left">timeline</i>How it works</li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><i class="material-icons left">home</i>Home</li>
        <li><i class="material-icons left">language</i>Our Services</li>
        <li><i class="material-icons left">person_outline</i>Our Clients</li>
        <li><i class="material-icons left">timeline</i>How it works</li>
      </ul>
  </div>
</nav>

<!-- landing page section-->
<div class="landingpage">
  <p class="maintext center-align" style="color: white;">Welcome to CleintDev!!</p>
  <p class="maintext_sub center-align">Development Platform Development Platform</p>
  <div class="container container1">
    <div class="row logo">
      <div class="col offset-m1 m2 offset-s1 s11">
          <div class="card card1">
            <div class="card-image">
              <img src="./views/img/logo1.png" class="clientimage">
            </div>
            <div class="card-content">
              <p class="center-align clienttext" style="color: #880e4f;">CLIENT</p>
            </div>
          </div>
      </div>

      <div class="col offset-m2 m3 offset-s1 s11" >
          <div class="card card1">
            <div class="card-image">
              <img src="./views/img/logo2.png" class="laptopimage">
            </div>
          </div>
      </div>

      <div class="col offset-m2 m2 offset-s1 s11">
          <div class="card card1">
            <div class="card-image">
              <img src="./views/img/logo6.png" class="developerimage">
            </div>
            <div class="card-content">
              <p class="center-align clienttext" style="color: #880e4f;">DEVELOPER</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<!-- how it works section-->
<div class="stepsdiv center-align">
  <p class="steps center-align">HOW IT WORKS?</p>
  <hr class="divider1">
</div>

<div class="client">
  <div class="container container1">
    <div class="row">
      <div class="col m7 offset-s1 s11">
        <p class="clientheading">CLIENTS</p>
        <p class="clientdescription">Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.</p>
      </div>

      <div class="col offset-m1 offset-s1">
        <iframe class="clientvideo" width="320" height="220" src="//www.youtube.com/embed/58-atNakMWw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="developer">
    <div class="clientsec"></div>
    <div class="container container1">
      <div class="row">
        <div class="col m4 offset-s1 s10">
          <iframe class="developervideo" width="320" height="220" src="//www.youtube.com/embed/58-atNakMWw" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="col offset-m1 m6 offset-s1 s11">
          <p class="developerheading">DEVELOPERS</p>
          <p class="developerdescription">Developers are genius. Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.</p>
        </div>
      </div>
    </div>
</div>