<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/responsive.css">
<section class="signup">
	<div class="container">
		<div class="row form_base">
			<div class="col m5 s12 left_pane">
				<div class="company-logo">
					<a href="#"><img src="img/clientdev.png"><a>
				</div>
			</div>
			<div class="col m7 s12 right_pane">
				<p class="heading">Create free account</p>
				<p class="sub-heading" ><span style="color:#393d40">Already have ClientDev account?</span> <span><a href="#">Sign in</a></span></p>
				<div class="signup_form">
					<div class="row">
				    <div class="col s12">
				      <ul class="tabs tabs-fixed-width">
				        <li class="tab col s3" ><a ng-click="home()" href="" ><span style="color:#393d40">Client</span></a></li>
				        <li class="tab col s3" ><a href=""><span style="color:#393d40">Developer</span></a></li>
				      </ul>
				    </div>
				    <div id="" class="col s12 client-form">
				    	<div class="row">
						    <form class="col s12">
						      <div class="row">
						        <div class="input-field col s6">
						          <input id="company_name" type="text" class="validate">
						          <label for="company_name">Company Name*</label>
						        </div>
						        <div class="input-field col s6">
						          <input id="company_type" type="text" class="validate" placeholder="E.g Startup/business etc.">
						          <label for="company_type">Company Type*</label>
						        </div>
						        
						      </div>
						      <div class="row">
						      	<div class="input-field col s6">
						          <input id="email" type="email" class="validate" placeholder="To be used as Username">
						          <label for="email">Email*</label>
						        </div>
						        <div class="input-field col s6">
						          <input id="Phone" type="text" class="validate">
						          <label for="Phone">Phone</label>
						        </div>
						        
						      </div>
						      <div class="row">
						        <div class="input-field col s12">
						          <input id="address" type="text" class="validate">
						          <label for="address">Address</label>
						        </div>
						      </div>
						      <div class="row">
						        <div class="input-field col s12">
						          <input id="password" type="password" class="validate">
						          <label for="password">Password</label>
						        </div>
						      </div>
						    </form>
						  </div>
        
				    </div>
				    <div id=""  class="col s12 dev-form">
				    	
				    </div>
				  </div>      
				</div>
			</div>
		</div>
	</div>
</section>
