<div class="clientProfile">
	<div class="">
		<div class="row">
			<div class="col s12 m12 l10">
				<div class="card">
					<div class="card-content">
			            <span class="card-title">Account Details</span>
			            <div class="divider"> </div>
			            <div class="accountDetailForm">
			            	<form name="client-account-form" ng-submit="updateAccountDetails();"  novalidate>
			            		<div class="row">
			            			
			            			<div class="input-field col s12 m12 l12">
			            				<p>Company Name</p>
						          		<input maxlength="50" placeholder="" id="" type="text" class="validate" ng-model="company">
						        	</div>
			            			<div class="input-field col s12 m12 l12">
			            				<p>Username or Email</p>
						          		<input placeholder="" id="" type="email" class="validate" ng-model="username" disabled>
						        	</div>
			            		</div>
			            		<div class="divider"></div>
			            		<div class=" postjobButton">
			            			<button type="submit" class="waves-effect waves-light btn" ng-disabled="client-account-form.$invalid">Update</button>	
			            		</div> 
			            	</form>
			            </div>
			        </div>
			         
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col s12 m12 l10">
				<div class="card">
					<div class="card-content">
			            <span class="card-title">Company Details</span>
			            <div class="divider"> </div>
			            <div class="companyDetailsForm">
			            	<form name="client-companydetail-form" ng-submit="updateCompanyDetails()" novalidate>
			            		<div class="row">
							        <div class="input-field col s12 m12 l6">
							       		<p>Contact No.</p>
							          	<input maxlength="10" placeholder=""  type="tel" class="validate" ng-model="companyPhone" required>
							          
							        </div>
							        <div class="input-field col s12 m12 l6">
							          <p>Company Type</p>
							          <input maxlength="20" id="" type="text" class="validate" disabled ng-model="type" required>
  
							        </div>
							      </div>
							      <div class="row">
							      	<div class="input-field col s12">
							      		<p>Company Description</p>
							      		<textarea maxlength="500" id="" class="materialize-textarea"  required ng-model="desc"></textarea>
							      	</div>
							      </div>
							      <div class="row">	
							      	<div class="input-field col s12 m6 l6">
							          <p>Address</p>
							          <input maxlength="100" id="" type="text" class="validate" ng-model="addr" required>
  
							        </div>

							        <div class="input-field col s12 m6 l6">
							          <p>City</p>
							          <input maxlength="100" id="" type="text" class="validate" ng-model="city" required>
  
							        </div>
							      </div>

							      <div class="row">
							      	 
							        <div class="input-field col s12 m6 l6">
							       		<p>State</p>
							          	<input maxlength="100" placeholder=""  type="text" class="validate" ng-model="state" required>
							        </div>
							         <div class="input-field col s12 m6 l6">
							       		<p>Zip Code</p>
							          <input maxlength="10" placeholder=""  type="text" class="validate" ng-model="zip" required>
							        </div>
							      </div>
							      <div class="divider">
							      	
							      </div>
							      <div class=" postjobButton">
				                      	<button type="submit" class="waves-effect waves-light btn" ng-disabled="client-account-form.$invalid">Update</button>
				                      	
				                    </div>
			            	</form>
			            </div>
			        </div>
			        
				</div>
			</div>
		</div>
	</div>
	
</div>

<script type="text/javascript">
	
	$(document).ready(function(){
		$("input:text:visible:first").focus();
	});
</script>