<link rel="stylesheet" type="text/css" href="../css/style.css">
<link rel="stylesheet" type="text/css" href="../css/responsive.css">
<style type="text/css">
	
/* ********************************************CSS for Text inputs ********************************************/

input:not([type]),
input[type=text]:not(.browser-default),
input[type=password]:not(.browser-default),
input[type=email]:not(.browser-default),
input[type=url]:not(.browser-default),
input[type=time]:not(.browser-default),
input[type=date]:not(.browser-default),
input[type=datetime]:not(.browser-default),
input[type=datetime-local]:not(.browser-default),
input[type=tel]:not(.browser-default),
input[type=number]:not(.browser-default),
input[type=search]:not(.browser-default),
textarea.materialize-textarea {
  background-color: transparent;
  border: 1px solid #c1c1c1;
  border-radius: 0;
  outline: none;
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 20px 0;
  padding-left: 10px;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border: 1px solid #f26234;
  
}
</style>
<div class="hide-on-small-only dash-sidenav">
	<ul id="slide-out" class="side-nav fixed">
		<p style="text-align: center" ><a href="" ui-sref="mainpage"><span class="dashboardLogo"><img src="./img/clientDev.png" height="30" width="30">ClientDev</span></a></p>
		<div class="divider"></div>
	    <li>
		    <div class="user-view userInfo">
		      <a href="#!user"><img class="circle" src=""></a>
		      <a href="#!email"><span class=" email" style="color:#6d7a83;padding-top: 20px;">{{companyemail}}</span></a>
		    </div>
	    </li>
        <div class="divider"></div>
      <div style="padding-top: 50px;">
        <li><a  class="waves-effect" href="" ui-sref="clientDashboard.jobPost"><i class="fa fa-rocket" aria-hidden="true"></i>Post a Job</a></li>
        <li><a  class="waves-effect" href="" ui-sref="clientDashboard.stat"><i class="fa fa-area-chart" aria-hidden="true"></i>Previous Stats</a></li>
        <li><a  class="waves-effect" href="" ui-sref=""><i class="fa fa-credit-card" aria-hidden="true"></i>Billing</a></li>
        <li><a class="subheader">Account settings</a></li>
        <li><a  class="waves-effect" href="" ui-sref="clientDashboard.updateProfile"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Update My Info</a></li>
        <li><a  class="waves-effect" href="" ng-click="signout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Signout</a></li>
      </div>
	      
 	</ul>

</div>


<section class="clientDashboard ">
	<nav class="hide-on-large-only dash-sidenav" style="background-color: #f26234;margin-top:-20px">
    <div class="nav-wrapperdash-sidenav">
      <a href="#!" class="brand-logo">ClientDev</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="mobile-demo">
        <p style="text-align: center" ><a href="" ui-sref="mainpage"><span class="dashboardLogo"><img src="./img/clientDev.png" height="30" width="30">ClientDev</span></a></p>
        <div class="divider"></div>
        <li>
          <div class="user-view userInfo">
            <a href="#!user"><img class="circle" src=""></a>
            <a href="#!email"><span class=" email" style="color:#6d7a83">{{companyemail}}</span></a>
          </div>
        </li>
        <div class="divider"></div>
        <div style="padding-top: 50px;">
          <li><a  class="waves-effect" href="" ui-sref="clientDashboard.jobPost"><i class="fa fa-rocket" aria-hidden="true"></i>Post a Job</a></li>
          <li><a  class="waves-effect" href="" ui-sref="clientDashboard.stat"><i class="fa fa-area-chart" aria-hidden="true"></i>Previous Stats</a></li>
          <li><a  class="waves-effect" href="" ui-sref=""><i class="fa fa-credit-card" aria-hidden="true"></i>Billing</a></li>
          <li><a class="subheader">Account settings</a></li>
          <li><a  class="waves-effect" href="" ui-sref="clientDashboard.updateProfile"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Update My Info</a></li>
          <li><a  class="waves-effect" href="" ui-sref=""><i class="fa fa-sign-out" aria-hidden="true"></i>Signout</a></li> 
        </div>
        
      </ul>
    </div>
  </nav>

  <div ui-view></div>

</section>

<script type="text/javascript">
  $(document).ready(function(){

    $(".button-collapse").sideNav();
     $('.collapsible').collapsible();
  })
</script>
