<nav class="nav1" ng-class="navClass">
  <div class="nav-wrapper">
      <a href="!#" class="brand-logo company_logo" ng-class="headClasslink"><span class="heading" ng-class="headClass"><img src="./img/clientDev.png" height="30" width="30" style="margin-right: 5px">ClientDev</span></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse" style="color:red"><i class="material-icons">menu</i></a>
    <div class="">
      <ul class="right hide-on-med-and-down valign-wrapper links">
        <li ng-class="linkClass" class="li"><a ui-sref="clientDashboard" ><i class="material-icons left" >home</i>Home</a></li>
        <li ng-class="linkClass" class="li"><a href="#services"><i class="material-icons left">language</i>Our Services</a></li>
        
        <li ng-class="linkClass" class="li"><a ui-sref="howItWorks"><i class="material-icons left">timeline</i>How it works<a/></li>
        <span class="navButtons">
        <li ng-class="linkClass" class="li"><a href="#clients"><i class="material-icons left">person_outline</i>Our Clients</a></li>
          <li ng-class="linkClass" class="li "><a ui-sref="signup"><i class="material-icons left">last_page</i><span style="font-weight: bold">Sign up</span></a></li>
          <li ng-class="linkClass" class="li "><a ui-sref="signin"> <i class="material-icons left">keyboard_arrow_right</i><span style="font-weight: bold">Sign in</span></a></li>
        </span>
        
      </ul>
    </div>
      
  </div>
</nav>
<div class="sideNav">
  <ul class="side-nav" id="mobile-demo">
    <li><a ui-sref="clientDashboard"><i class="material-icons left">home</i>Home</a></li>
    <li><i class="material-icons left">language</i>Our Services</li>
    <li><i class="material-icons left">person_outline</i>Our Clients</li>
    <li><i class="material-icons left">timeline</i>How it works</li>
    <li ui-sref="signup"><i class="material-icons left">keyboard_capslock</i>Sign up</li>
    <li><i class="material-icons left">vpn_key</i>Sign in</li>
  </ul>
</div>


<!-- landing page section-->
<div class="landingpage" id="home">
  <div class="row main_div">
    <div class=" container container2">
      <div class="col m12 s12 l8">
        <p class="p main_heading">Want to get your project done!</p>
        <p class="p main_subheading">Turn your imagination into reality, hire freelancers within your budget</p>
      </div>
      <div class="col m12 s12 l4">
       
      </div>
    </div>
  </div>
</div>

<!---Get Started in minutes-->
<section class="getStarted" id="getStarted">
  <div class="stepsdiv center-align">
    <p class="steps center-align">Get Started in minutes</p>
    <hr class="divider1">
  </div>
  <div class="row getStartedRow">
    <div class="container getStartedContainer">
      <div class="col s12 m12 l4 center stepone">
        <div class="step1Img">
          <img src="img/register.png">
        </div>
        <!--<div class="numBack">
          <p class="p stepStyle">1</p>
        </div>-->
        <div>
          <p class="p stepStyle">Setup and Manage Account</p>
        </div>
        <div class="step1Desc">
          <p class="p">Create your ClientDev account and manage your comapny's profile.</p>
        </div>
      </div>

      <div class="col s12 m12 l4 center stepone">
        <div class="step1Img">
          <img src="img/test.png">
        </div>
       <!-- <div class="numBack">
          <p class="p stepStyle" >2</p>
        </div>-->
         <div>
          <p class="p stepStyle"> Post Project</p>
        </div>
        <div class="step1Desc">
          <p class="p">Post your project by completing form describing what your need and set the E-Test for freelancer. </p>
        </div>
      </div>
      <div class="col s12 m12 l4 center stepone">
        <div class="step1Img">
          <img src="img/users.png">
        </div>
       <!-- <div class="numBack">
          <p class="p stepStyle" >3</p>
        </div>-->
         <div>
          <p class="p stepStyle"> Select freelacer and Pay</p>
        </div>
        <div class="step1Desc">
          <p class="p">Select the best person and they will get your work done.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Our Services Section-->
<section class="our_services" id="services">
  
<div class="stepsdiv center-align">
  <p class="steps center-align">Our Services</p>
  <hr class="divider1">
</div>

  <div class="container container1" >
    <div class="row service-row">
      <div class="col m12 s12 l4 service-div">
        <div class="service_content">
          <div class="clientServiceImg">
            <img src="img/clientService.png">
          </div>
          <div class="service_text">
            <p class="p serviceHead">Client Service</p>
            <p> We provide clients a platfrom to hire developers to get their jobs done, within thier budget limit. Hire telaneted freelancers and pay as much you want.</p>
          </div>
        </div>
      </div>

      <div class="col m12 s12 l4 service-div">
        <div class="service_content">
          <div class="developerService">
            <img src="img/developerService.png" >
          </div>
          <div class="service_text">
            <p class="p serviceHead">Developer's Corner</p>
            <p> Need Work? We provide developers a plaform to get their hands on real time projects. Find your favorite job and get paid.  </p>
          </div>
        </div>
      </div>

      <div class="col m12 s12 l4 service-div">
        <div class="service_content">
          <div class="secureService">
            <img src="img/secureServices.png" >
          </div>
          <div class="service_text">
           <p class="p serviceHead">Secure Service</p>
            <p> Lorep ipsumLorep ipsumLorep ipsum Lorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsum</p>
          </div>
        </div>
      </div>
    </div>    
  </div>
</section>




<!--Our Clients -->
<section class="our_clients" id="clients">
  

<div class="stepsdiv center-align">
  <p class="steps center-align">Our Clients</p>
  <hr class="divider1">
</div>
    <div class="container container1" style="height:650px;padding-top:30px"> 
        <ul class="hexGrid">
            <li class="hex">
                <a class="hexIn" href="#" data-toggle="modal" data-target="#">
                    <img src="img/client4.jpeg" alt="" \>
                    <h1>Lorep ipsum</h1>
                    <p>Lorep ipsum</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#" data-toggle="modal" data-target="#">
                    <img src="img/client4.jpeg" alt="" \>
                    <h1>Lorep ipsum</h1>
                    <p>Lorep ipsum</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#" data-toggle="modal" data-target="#">
                    <img src="img/client4.jpeg" alt="" \>
                    <h1>Lorep ipsum</h1>
                    <p>Lorep ipsum</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#" data-toggle="modal" data-target="#">
                    <img src="img/client4.jpeg" alt="" \>
                    <h1>Lorep ipsum</h1>
                    <p>Lorep ipsum</p>
                </a>
            </li>
        </ul>
    </div>

</section class="footer">
<footer>
    <div class="footersec"></div>
    <div class="footer_tint">
      <div class="container_footer">
          <div class="row">
            <div class="col m4 s12 footer_left">
             <h5>
               <span><img src="img/clientDev.png" height="60" width="60"></span>ClientDev
             </h5>
             <p style="color:#6d7a83">ClientDev is a platform that provides small startups, business a freedom to get their work done at very low cost.Also, helps budding developers to find some exciting work to get experience.</p>
             <div class="divider"></div><br>
             <div class="social_links">
               
             </div>
            </div>

            <div class="col offset-m1 m7 s12">
              
            </div>
          </div>
      </div>
    </div>

</footer>
<script type="text/javascript">
  $(document).ready(function(){
    $(".button-collapse").sideNav();
  })
</script>