<div class="statsdiv" ng-show="statoption==1">
	<div class="container container3">
		<div class="row">
			<div class="col offset-l1 l5 offset-s1 s11 offset-m1 m5">
				<div class="card projcompcard" ng-click="projcompdiv();getProjCompData()">
					<div class="card-content">
						<div class="row">
							<div class="col l7"> 
								<p class="activitycount">5</p>	
								<p class="activity">Projects Completed</p>
								<a class="btn btn-flat info_btn1" ng-click="projcompdiv();getProjCompData()">INFO</a>
							</div>
							<div class="col l5 center-align">
								<img src="./img/done.png" style="opacity: 0.2; margin-top: 80%;">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col l5 offset-s1 s11 offset-m1 m5">
				<div class="card projruncard" ng-click="projrundiv();getProjRunData()">
					<div class="card-content">
						<div class="row">
							<div class="col l7"> 
								<p class="activitycount">5</p>	
								<p class="activity">Projects Running</p>
								<a class="btn btn-flat info_btn2" ng-click="projrundiv();getProjRunData()">INFO</a>
							</div>
							<div class="col l5 center-align">
								<img src="./img/run.png" style="opacity:0.7; margin-top: 80%;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		

		<div class="row">
			<div class="col offset-l1 offset-s1 s11 l5  offset-m1 m5">
				<div class="card invoiceduecard" ng-click="invoicesdiv()">
					<div class="card-content">
						<div class="row">
							<div class="col l7"> 
								<p class="activitycount">5</p>	
								<p class="activity">Invoices Due</p>
								<a class="btn btn-flat info_btn3" ng-click="invoicesdiv()">INFO</a>
							</div>
							<div class="col l5 center-align">
								<img src="./img/invoice.png" style="opacity:0.7; margin-top: 80%;">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col l5 offset-s1 s11  offset-m1 m5">
				<div class="card notificationcard">
					<div class="card-content">
						<div class="row">
							<div class="col l7"> 
								<p class="activitycount">5</p>	
								<p class="activity">Jobs Posted</p>
								<a class="btn btn-flat info_btn4">INFO</a>
							</div>
							<div class="col l5 center-align">
								<img src="./img/job.png" style="opacity:0.7; margin-top: 80%;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div ng-show="statoption==2">
	<a class="btn btn-flat back_btn" ng-click="backToStat()"><i class="material-icons left">arrow_back</i>Back</a>

	<div class="activitydata">
		<ul class="collapsible popout" data-collapsible="accordion">
			<li ng-repeat="data in data">
				<div class="collapsible-header"><i class="material-icons">class</i>{{data.name}}</div>
				<div class="collapsible-body">
					<div class="row">
						<div class="col l9">
							<p class="projectdata1"><span class="projectdata">Title:  </span>{{data.description}}</p>
							<p class="projectdata1"><span class="projectdata">Skills:  </span>{{arrayToString(data.skills)}}</p>
							<p class="projectdata1"><span class="projectdata">Type:  </span>{{data.category}}</p>

							<p class="projectdata1"><i class="fa fa-calendar" style="color: #f26234"></i><span class="projectdata">   Duration:</span>{{data.timePeriod}}</p>

							<p class="projectdata1"><span class="projectdata">Profile:  </span>{{data.profileRequired}}</p>
							
							<p class="projectdata1"><i class="fa fa-money" aria-hidden="true" style="color: #f26234"></i><span class="projectdata">Perks :</span>{{data.perks}}</p>

							<p class="projectdata1"><i class="fa fa-money" aria-hidden="true" style="color: #f26234"></i><span class="projectdata">  Status:  </span>{{data.status}}</p>
						</div>
						<div class="col l3">
							<div class="card">
								<div class="card-image" style="margin: 7%;padding-top: 10%;">
									<img src="./img/user.png" style="border-radius: 100%;height: 100%;border: 2px solid #f26234">
								</div>
								<div class="card-content center-align">
									<p style="color: #f26234"><b>MR. ABC SINGH</b></p>
									<p style="color: #f26234"><b>({{data.experience}})</b></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<div ng-show="statoption==3">
	<a class="btn btn-flat back_btn" ng-click="backToStat()"><i class="material-icons left">arrow_back</i>Back</a>

	<div class="activitydata">
		<ul class="collapsible popout" data-collapsible="accordion">
			<li ng-repeat="dataprojrun in dataprojrun">
				<div class="collapsible-header">
					<i class="material-icons left">class</i>{{dataprojrun.name}}
				</div>

				<div class="collapsible-body">
					<div class="row">
						<div class="col l9">
							<p class="projectdata1"><i class="fa fa-bookmark" aria-hidden="true" style="color: #f26234"></i><span class="projectdata">  Title: </span>{{dataprojrun.description}}</p>
							<p class="projectdata1"> <i class="fa fa-superpowers" aria-hidden="true" style="color: #f26234"></i><span class="projectdata">  Skills:  </span>{{arrayToString(dataprojrun.skills)}}</p>
							<p class="projectdata1"><i class="fa fa-info" aria-hidden="true" style="color: #f26234"></i><span class="projectdata">  Type:  </span>{{dataprojrun.category}}</p>
							<p class="projectdata1"><i class="fa fa-calendar" aria-hidden="true" style="color: #f26234"></i><span class="projectdata">   Duration:  </span>{{dataprojrun.timePeriod}}</p>

							<p class="projectdata1"><i class="fa fa-user-md" aria-hidden="true" style="color: #f26234"></i><span class="projectdata">   Profile:  </span>{{dataprojrun.profileRequired}}</p>
							<p class="projectdata1"><i class="fa fa-money" aria-hidden="true" style="color: #f26234"></i><span class="projectdata">  Perks:  </span>{{dataprojrun.perks}}</p>

							<p class="projectdata1"><i class="fa fa-toggle-on" aria-hidden="true" style="color: #f26234"></i><span class="projectdata">  Status:  </span>{{dataprojrun.status}}</p>
							
							<div class="center-align">
								<a class="btn btn-flat find_btn">FIND MORE FREELANCERS</a>
							</div>
						</div>
						<div class="col l3">
							<div class="card">
								<div class="card-image" style="margin: 7%;padding-top: 10%;">
									<img src="./img/user.png" style="border-radius: 100%;border: 2px solid #f26234">
								</div>
								<div class="card-content center-align">
									<p style="color: #f26234"><b>MR. ABC SINGH</b></p>
									<p style="color: #f26234"><b>({{dataprojrun.experience}})</b></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>

<div ng-show="statoption==4">
	<a class="btn btn-flat back_btn" ng-click="backToStat()"><i class="material-icons left">arrow_back</i>Back</a>

	<div class="invoiceduediv">
		<div class="container container3">
			<div class="row">
				<div class="col l3">
					<div class="card">
						<div class="card-image">
							<img src="./img/user.png" style="border-radius: 100%;border: 2px solid #f26234">
						</div>
						<div class="card-content center-align">
							<p style="color: #f26234"><b>MR. ABC SINGH</b></p>
							<p style="color: #37474f"><b>$20</b></p>
						</div>
					</div>
				</div>

				<div class="col l3">
					<div class="card">
						<div class="card-image">
							<img src="./img/user.png" style="border-radius: 100%;border: 2px solid #f26234">
						</div>
						<div class="card-content center-align">
							<p style="color: #f26234"><b>MR. ABC SINGH</b></p>
							<p style="color: #37474f"><b>$20</b></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  $(document).ready(function(){

    $(".button-collapse").sideNav();
    $('.collapsible').collapsible();
  });
</script>
