<nav class="nav1" ng-class="navClass">
  <div class="nav-wrapper">
      <a href="!#" class="brand-logo company_logo" ng-class="headClasslink"><span class="heading" ng-class="headClass">ClientDev</span></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse" style="color:red"><i class="material-icons">menu</i></a>
    <div class="myNav">
      <ul class="hide-on-med-and-down valign-wrapper links">
        <li ng-class="linkClass" class="li"><i class="material-icons left" >home</i>Home</li>
        <li ng-class="linkClass" class="li"><i class="material-icons left">language</i>Our Services</li>
        <li ng-class="linkClass" class="li"><i class="material-icons left">person_outline</i>Our Clients</li>
        <li ng-class="linkClass" class="li"><i class="material-icons left">timeline</i>How it works</li>
        <span class="navButtons">
          <li ng-class="linkClass" class="li "><a ui-sref="signup" class="waves-effect waves-light btn signupButton">Sign up</a></li>
          <li ng-class="linkClass" class="li "><button class="waves-effect waves-light btn signinButton">Sign in</button></li>
        </span>
        
      </ul>
    </div>
      
  </div>
</nav>
<div class="sideNav">
  <ul class="side-nav" id="mobile-demo">
    <li><i class="material-icons left">home</i>Home</li>
    <li><i class="material-icons left">language</i>Our Services</li>
    <li><i class="material-icons left">person_outline</i>Our Clients</li>
    <li><i class="material-icons left">timeline</i>How it works</li>
    <li ui-sref="signup"><i class="material-icons left">keyboard_capslock</i>Sign up</li>
    <li><i class="material-icons left">vpn_key</i>Sign in</li>
  </ul>
</div>


<!-- landing page section-->
<div class="landingpage">
  <p class="maintext center-align" style="color: white;">Welcome to CleintDev!!</p>
  <p class="maintext_sub center-align">Development Platform Development Platform</p>
  <div class="container container1">
    <div class="row logo">
      <div class="col offset-m1 m2 offset-s1 s11">
          <div class="card card1">
            <div class="card-image">
              <img src="img/logo1.png" class="clientimage">
            </div>
            <div class="card-content">
              <p class="center-align clienttext" style="color: #880e4f;">Client</p>
            </div>
          </div>
      </div>

      <div class="col offset-m2 m3 offset-s1 s11" >
          <div class="card card1">
            <div class="card-image">
              <img src="img/logo2.png" class="laptopimage">
            </div>
          </div>
      </div>

      <div class="col offset-m2 m2 offset-s1 s11">
          <div class="card card1">
            <div class="card-image">
              <img src="img/logo6.png" class="developerimage">
            </div>
            <div class="card-content">
              <p class="center-align clienttext" style="color: #880e4f;">Developer</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<!--Our Services Section-->
<section class="our_services">
  
<div class="stepsdiv center-align">
  <p class="steps center-align">Our Services</p>
  <hr class="divider1">
</div>

  <div class="container container1" >
    <div class="row service-row">
      <div class="col m4 s12 service-div">
        <div class="service_content">
          <div>
            <img src="img/client.png" height="80" width="80">
          </div>
          <div class="service_text">
            <h4>Client Service</h4>
            <p> Lorep ipsumLorep ipsumLorep ipsum Lorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsum</p>
          </div>
        </div>
      </div>

      <div class="col m4 s12 service-div">
        <div class="service_content">
          <div>
            <img src="img/developer.png" height="80" width="80">
          </div>
          <div class="service_text">
            <h4>Developer's Corner</h4>
            <p> Lorep ipsumLorep ipsumLorep ipsum Lorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsum</p>
          </div>
        </div>
      </div>

      <div class="col m4 s12 service-div">
        <div class="service_content">
          <div>
            <img src="img/secure.png" height="80" width="80">
          </div>
          <div class="service_text">
            <h4>Secure Service</h4>
            <p> Lorep ipsumLorep ipsumLorep ipsum Lorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsumLorep ipsum</p>
          </div>
        </div>
      </div>
    </div>    
  </div>
</section>

<!-- how it works section-->
<section class="how_it_works">
<div class="stepsdiv center-align">
  <p class="steps center-align">How it works?</p>
  <hr class="divider1">
</div>

<div class="client"style="background-color: white;border:none">
  <div class="container container1">
    <div class="row">
      <div class="col m7 offset-s1 s11">
        <p class="clientheading">Clients</p>
        <p class="clientdescription">Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.Client are very important.<br><a href="">Read More..</a></p>
      </div>

      <div class="col offset-m1 offset-s1">
        <iframe class="clientvideo" width="320" height="220" src="//www.youtube.com/embed/58-atNakMWw" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>

<div class="developer">
    <div class="clientsec"></div>
    <div class="container container1">
      <div class="row">
        <div class="col m4 offset-s1 s10">
          <iframe class="developervideo" width="320" height="220" src="//www.youtube.com/embed/58-atNakMWw" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="col offset-m1 m6 offset-s1 s11">
          <p class="developerheading">Developers</p>
          <p class="developerdescription">Developers are genius. Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.Developers are genius.<br><a href="">Read More..</a></p>
        </div>
      </div>
    </div>
</div>
</section>


<!--Our Clients -->
<section class="our_clients">
  

<div class="stepsdiv center-align">
  <p class="steps center-align">Our Clients</p>
  <hr class="divider1">
</div>
    <div class="container container1" style="height:650px;padding-top:30px"> 
        <ul class="hexGrid">
            <li class="hex">
                <a class="hexIn" href="#" data-toggle="modal" data-target="#">
                    <img src="img/client4.jpeg" alt="" \>
                    <h1>Lorep ipsum</h1>
                    <p>Lorep ipsum</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#" data-toggle="modal" data-target="#">
                    <img src="img/client4.jpeg" alt="" \>
                    <h1>Lorep ipsum</h1>
                    <p>Lorep ipsum</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#" data-toggle="modal" data-target="#">
                    <img src="img/client4.jpeg" alt="" \>
                    <h1>Lorep ipsum</h1>
                    <p>Lorep ipsum</p>
                </a>
            </li>
            <li class="hex">
                <a class="hexIn" href="#" data-toggle="modal" data-target="#">
                    <img src="img/client4.jpeg" alt="" \>
                    <h1>Lorep ipsum</h1>
                    <p>Lorep ipsum</p>
                </a>
            </li>
        </ul>
    </div>

</section class="footer">
<footer>
    <div class="footersec"></div>
    <div class="footer_tint">
      <div class="container_footer">
          <div class="row">
            <div class="col m4 s12 footer_left">
             <h5>
               <span><img src="img/clientDev.png" height="60" width="60"></span>ClientDev
             </h5>
             <p style="color:#6d7a83">ClientDev is a platform that provides small startups, business a freedom to get their work done at very low cost.Also, helps budding developers to find some exciting work to get experience.</p>
             <div class="divider"></div><br>
             <div class="social_links">
               
             </div>
            </div>

            <div class="col offset-m1 m7 s12">

            </div>
          </div>
      </div>
    </div>

</footer>
<script type="text/javascript">
  $(document).ready(function(){
    $(".button-collapse").sideNav();
  })
</script>